# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Environment files
.env
client/.env
server/.env

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store

# Build folders
dist/
build/